/*
    1 commen style
    2 geniral style
    3 section
      3.0 header section
      3.1 home section
      3.2 about section
      3.3 portfolio section
      3.4 services section
      3.5 prices section
      3.6 team section
      3.7 blog section
      3.8 contact section
      3.9 footer section

*/
/*commen style*/
/*.overlay{
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);

}*/
.hover-opacity{
	transition: opacity .2s;
}
.hover-opacity:hover{
	opacity:0.8;
}
/* geniral css style*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: 'Varela Round', sans-serif;
}

.container{
	width:80%;
	margin:auto;
	
}
h1,h2,h3,h4,h5,h6{
	font-family:montserrat,sans-serif;
	font-weight: 700;
}
button{
	font-family:inherit;
}
.section-header{
	text-align:center;
	
}
.section-header .section-title{
	font-size:35px;
	text-transform:capitalize;
	margin-bottom: 10px
}
.section-header .line{
	display: block;
	height:5px;
	width:60px;
	background-color:#6195FF;
	margin: 0 auto 70px auto;
	

}
.pd-y{
	padding:120px 0px;
}
/* 3 section style*/
/*  3.0 header section*/
.header{
	
	position:fixed;
	z-index: 10;
	width:100%;
	background:rgba(0,0,0,0.6);
}
.header .logo{
	width:30%;
	float:left;
}
.header .logo h1{
	color:#fff;
	padding-top:20px; 
}

.header .nav{
	width:70%;
	float:left;
	list-style: none;
	text-align: right;
}
.clear{
	clear:both;
}
.header .nav > li{
	display: inline-block;
	
	
}
.header .nav > li > a {
	color:#fff;
	text-decoration: none;
	padding: 30px 15px;
	display: block;

}
.header .nav > li> a:after{
	content:"";
	display: block;
	width: 0%;
	height:3px;
	background-color:#6195FF;
	transition: width 0.5s;
	margin-top:2px;
}
.header .nav > li > a:hover:after{
	width:100%;
}
.header .nav > li > a.active:after{
	display: block;
	width: 100%;
	height:3px;
	background-color:#6195FF;
	transition: width 0.5s;
	margin-top:2px;
}
.dropdown{
	position:relative;

}
.dropdown-menu{
	position:absolute;
	background-color:#6195FF;
	width:100px;
	text-align:center;	
	left:-30%;
	top:70%;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.dropdown-menu a{
	color:#fff;
	display: block;
	padding:10px;
	text-decoration: none;
	
}
.dropdown:hover .dropdown-menu{
	opacity: 1;
	visibility: visible;

}
/* 3.1 Home section*/

.home{
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/malika.jpg);
	background-size: cover;
	position: relative;
}
.home .title{
	color:#fff;
	font-size:2.5rem;
	text-transform: uppercase;
}
.home .home-desc{
	color:#fff;
	margin:10px 0px;
	letter-spacing: 2px;
	line-height:1.5;
}
.home-content{
    width:65%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}
.home .btn{
	min-width:160px;
	padding:20px 0px;
	border-radius:5px;
	border:none;
	cursor:pointer;
	font-size:18px;


}
.home .btn-learn{
	background-color:#6195FF;
	margin-left:10px;
	color:#fff;
}
.home .btn-start{
	background-color:#fff;
}

/*3.2 about section*/
.about-item{
	width:30%;
	float:left;
	border:1px solid #E8E8E8;
	text-align:center;
	padding:50px 20px;
}
.about-item.mg{
	margin: 0px 5%;
}
.about-item .icon{
	color:#6195FF;
	margin-bottom:10px;
}
.about-item-title{
	text-transform:capitalize;
	margin-bottom:10px;

}
.about-item-desc{
	line-height:1.6;
	margin-bottom:10px;
	color:#999;
}
.about-item-link{
	color:#6195FF;
	text-transform:capitalize;
	text-decoration: none;
}
.ltr-effect{
	position:relative;
}
.ltr-effect:after{
	position:absolute;
	content:"";
	width:0;
	height:100%;
	top:0;
	left:0;
	background-color:#333;
	transition:0.5s;
	z-index: -1;
}
.ltr-effect:hover:after{
	width: 100%;
}
.about-item:hover .about-item-title{
	color:#fff;
	transition:color 0.5s;
}
.portfolio{
	background:#F9F9F9;
}
.portfolio-content{
	overflow: hidden;
}
.portfolio-item{
	float:left;
	width: 30%;
	margin-bottom:37px;
	position:relative;
	padding: 10px;
}
.portfolio-item img{
	width: 100%;
}
.portfolio-item.img{
	margin:0px 5%;
}
.portfolio-item .layer-content{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	opacity:0;
	transition: opacity 0.5s;
	visibility: hidden;
	
}
.portfolio-item:hover .layer-content{
opacity:1;
visibility: visible;
}
.layer-content .layer-info{
	position:absolute;
	top:50%;
	left:50%;
	width:80%;
	transform: translate(-50%,-50%);
	text-align: center;
	transition: 0.5s;
	
	
	}
	.layer-content .category{
		color:#6195FF;
		text-transform:uppercase;
		margin-bottom:5px;
		display: block;
		position: relative;
		top: 10px;
		transition: 0.5s;
	

	}
	.layer-content-title{
		color:#fff;
		margin-bottom:10px;
		font-size:20px;
		position: relative;
		top: 10px;
		transition: 0.5s;
		

	}
	.layer-content a{
		display: inline-block;
		width: 40px;
		height: 40px;
		background:#6195FF;
		color:#fff;
		position: relative;
		top: 10px;
		transition: 0.3s;
		
	}
	.layer-content a i {
		line-height:40px;
		
	}
	.portfolio-item:hover .layer-content .category,
	.portfolio-item:hover .layer-content-title,
	.portfolio-item:hover .layer-content a{
		top:0px;
	}
	.offer{}
	.offer-content{
		overflow: hidden;
	}
	.offer-item{
	width: 30%;
	float:left;
	margin-bottom:20px;
	border:1px solid #E8E8E8;
	padding: 20px 15px 30px 70px;
	position: relative; 

	}
	.offer-item .icon{
		position: absolute;
		top:24px;
		left:30px;
		color: #6195FF;
	}
	.offer-item.mg{
       margin:0px 5%;
	}
	.offer-item-title{
		text-transform: capitalize;
		margin-bottom:15px;
		transition: color 0.5s;
	}
	.offer-item-desc{
		text-transform: capitalize;
		margin-bottom: 15px;
		line-height:1.6;
		color:#999;
	}
	.offer-item:hover .offer-item-title{
		color: #fff;

	}

	.services{
		background-color:#E8E8E8;
		padding: 120px;
	}
	.container{
		width: 80%;
		margin: auto;
	}
	.min-services{
		overflow: hidden;
	}
	
	 .sou-services .title-line{
	 	margin: 0;

	 }
	 .title-line .line{
	 	width:50px;
	 	height:3px;
	 	background-color:#6195FF;
	 	margin:left;
	 	display: block;
	 }
	 .services .sou-services{
	 	width: 50%;
	 	float: left;

	 }
	 .sou-services .title-line{
	 	margin-bottom: 40px;
	 }
	 .title-line .title{
	 	text-transform: capitalize;
	 	font-size:35px;
	 	font-weight: bold;
	 }
	 .sou-services .paragraphe{
	 	text-align: left;
	 	text-transform: capitalize;
	 	line-height: 1.3;
	 	color: #999;
	 	margin-bottom: 10px;
	 	padding-right: 20px;
	 }
	 .sou-services .liste{
	 	color:#999;
	 	line-height: 2.7;

	 }
	 .sou-services .liste li i{
	 	color:#6195FF;
	 	border:1px solid #6195FF;
	 	border-radius: 50%;
	 	padding: 5px; 
	 	margin-right: 3px;

	 }
	 .sou-services .liste li{

	 }
	 .image img {
	 	width:100%;
	 	 
	 }

	 .menu{
	 	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/imgg.jpg);
	 	background-size: cover;
	 	padding: 60px;
	 	background-attachment: fixed;
	 }
	 .min-menu{
	 	overflow: hidden;
	 }
	 .min-menu .menu-item{
	 	float:left;
	 	width:25%;
	 	text-align: center;
	 }
	 .min-menu .menu-item i{
	 	color:#6195FF;
	 	margin-bottom:20px;

    }
    .min-menu .menu-item h3{
    	color: #fff;
    	font-weight: bold;
    	margin-bottom:10px;
    }
    .min-menu .menu-item p{
    	color:#fff;
    }
    .pricing{


    }
    .pricing-plans{
    	overflow: hidden;
    }
    .pricing-item{
    	width:30%;
    	float:left;
    	border:1px solid #E8E8E8;
    	padding:40px 15px;
    	text-align:center;
    	position: relative;

    }
    .pricing-item.mg{
    	margin:0px 5%;
    }
    .pricing-item-text{
       text-transform: uppercase;
       font-size:17px;
       color:#999;
       transition: color 0.5s;
    }
     .pricing-item-permonth{
        width:130px;
        height:130px;
        border:2px solid #6195FF;
        margin:15px auto;
        border-radius:50%;
        padding:20px 0;
    }
    .pricing-item-permonth .dollar{
    	font-size:50px;
    	transition: color 0.5s;
    }
    .pricing-item-permonth .month{
    	text-transform: uppercase;
    	font-weight: bold;
    	font-size:15px;
    	transition:  color 0.5s;
    }
    .pricing-list{
    	list-style-type: none;
    	color:#999;
    	transition: color 0.5s;
    }
    .pricing-list li{
    	line-height: 1.5;
    }
    .pricing-item-purchase{
    	background:0;
    	display:block;
    	width:140px;
    	margin:15px auto 0px auto;
    	color:#6195FF;
    	padding:10px;
    	border:2px solid #6195FF;

    }
    .pricing-item:after{
    	content:"";
    	width:100%;
    	height:0;
        top:0;
        left:0;
    	background:#333;
    	position: absolute;
    	z-index: -1;
    	transition:  0.5s;
    }
    .pricing-item:hover:after{
    	height:100%;
    }
    .pricing-item:hover .pricing-item-text,
    .pricing-item:hover .pricing-list,
    .pricing-item:hover .pricing-item-permonth .dollar,
    .pricing-item:hover .pricing-item-permonth .month
    {
    	color:#fff;

    }
    .anonce{
    	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/imgg.jpg);
    	background-size: cover;
    	padding:60px 0px;
    	margin: 40px 0px;
    	background-attachment: fixed;

    }
    .over{
    	overflow: hidden;
    }
    .anonce-item{
    	width: 50%;
    	float:left;
    	
    	text-align: left;
    }
    .anonce-item-pr{
    	position: relative;

    }
    .anonce-item-pr-title{
    	position: absolute;
    	left:100px;
    	top:10px;
    	color: #fff;
    }
    .anonce-item-pr-text{
    	position: absolute;
    	left:100px;
    	top:35px;
    	color:#6195FF;
    }
    .anonce-item-pr-image img{
    	width:15%;
    	border-radius:50%;
    
    }
    .anonce-item-pr-image{
    	width:100%;
    	margin-top:30px;
    	padding:10px;
    }
    .parag{
    	padding-top:15px;
    	color:#fff;
    }
    .float{
    	overflow: hidden;

    }
    .team-item{
    	background-color:#E8E8E8;
    	padding:30px 15px;
    	text-align: center;
    	
    }
    .team-img img{
    	width: 100%

    }
    .team-img{
    	width: 90%;
    	margin:auto;
    	position: relative;
    }
    .team-overlay{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left:0;
    	right: 0;
    	background-color:#333;
    	background:rgba(0,0,0,0.5);
    	opacity: 0;
    	visibility: hidden;
    	transition: opacity visibility 0.5s;
    	z-index: 1;
    }
    .team-overlay a{
    	display: block;
    	background-color:#7ba7ff;
    	color:#fff;
    	width:40px;
    	height:40px;
    	margin-left:auto;
    }
    .team-overlay a i{
    	line-height: 40px;
    }

    .team-content{
    	overflow: hidden;
    }
    .team-item{
    	width: 30%;
    	float:left;
    	z-index: -2;
    	position: relative;
    }
    .team-item.soo{
    	margin:0px 5%;
    }
    .team-item .team-info-title{
    	color:#222;
    	margin:10px 0;
    }
    .team-item .team-info-text{
    	color:#999;
    	text-transform: uppercase;
    	font-size:14px;
    }
    .team-item:hover .team-overlay{
    	opacity: 1;
    	visibility: visible;
    }
    